<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Создание</title>
  <style>
        * {
            font-family: sans-serif;
            font-size: 12pt;
        }

        .container {
            background: #f5f5f5;
            padding: 15px;
            margin: 15px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            text-align: center;
        }
  </style>
  <script type="text/javascript">
        function validate() {
            if (!dateStart.value) {
                alert("Не указана дата начала визита");
                return false;
            } else if (!dateEnd.value) {
                alert("Не указана дата окончания визита");
                return false;
            } else if (!tb.value) {
                alert("Не выбран территориальный банк");
                return false;
            } else if (!osb.value) {
                alert("Не выбрано отделение сбербанка");
                return false;
            } else if (!directors.value) {
                alert("Не добавлен ни один территориальный директор");
                return false;
            }
            return true;
        }

        function filterOsb() {
            let osbList = osb.getElementsByTagName('option');
            console.log(osbList);
            if (osbList.length == 0) {
                return;
            }
            let isSelected = false;
            for (let i = 0; i < osbList.length; i++) {
                if (osbList[i].value.indexOf(tb.value.replace('tb', 'osb')) == 0) {
                    osbList[i].style.display = 'inline';
                    if (!isSelected) {
                        osb.value = osbList[i].value;
                        isSelected = true;
                    }
                } else {
                    osbList[i].style.display = 'none';
                }
            }
        }
  </script>
</head>

<body onload="filterOsb()">
<div class="container">
  <form onsubmit="return validate()" method="post">
    <p>Создание полевого визита</p>
    <label for="dateStart">с </label>
    <input type="date" name="dateStart" id="dateStart"/>
    <label for="dateEnd"> по </label>
    <input type="date" name="dateEnd" id="dateEnd"/>
    <br/>
    <label for="tb">ТБ </label>
    <select name="tb" id="tb" onchange="filterOsb()">{}</select>
    <select name="osb" id="osb">{}</select>
    <p>Территориальные директоры</p>
    {}
    <p>Лидеры кластеров</p>
    {}
    <div>
      <input type="button" onclick="location.href='{}'" value="Отмена"/>
      <input type="submit" value="Создать"/>
    </div>
  </form>
</div>

</body>

</html>